<div class="container">
    <div class="seed-detail-header">
        <h1><%= @seed.name.to_s.humanize %></h1>
        <p class="seed-description"><%= @seed.description %></p>
    </div>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
    <% end %>
    
    <% if flash[:error] %>
        <div class="alert alert-error">
            <%= flash[:error] %>
        </div>
    <% end %>
    
    <% if flash[:info] %>
        <div class="alert alert-info">
            <%= flash[:info] %>
        </div>
    <% end %>


    <div class="seed-card-body">
        <% if @seed.has_parameters? %>
            <div class="parameters-section">
                <h4>Parameters</h4>
                <div class="parameters-info">
                    <p>This seed requires <%= pluralize(@seed.parameter_names.count, 'parameter') %>:</p>
                </div>
                <%= form_tag create_custom_seede_path(@seed_name), method: :post, class: "seed-form" do %>
                    <div class="form-fields">
                        <% @seed.parameter_names.each do |param_name| %>
                            <% param_info = @seed.parameter_info(param_name) %>
                            <div class="form-group">
                                <label for="<%= param_name %>">
                                    <%= param_name.to_s.humanize %>
                                    <% if param_info[:required] %>
                                        <span class="required">*</span>
                                    <% end %>
                                </label>
                                <% if param_info[:description] %>
                                    <small class="parameter-description"><%= param_info[:description] %></small>
                                <% end %>
                                
                                <% case param_info[:type] %>
                                <% when :boolean %>
                                    <%= select_tag "attributes[#{param_name}]", 
                                        options_for_select([
                                            ['Select...', ''],
                                            ['Yes', 'true'],
                                            ['No', 'false']
                                        ], param_info[:default] ? (param_info[:default] ? 'true' : 'false') : ''),
                                        id: param_name,
                                        class: "form-control" %>
                                <% when :integer %>
                                    <%= number_field_tag "attributes[#{param_name}]", 
                                        param_info[:default] || nil, 
                                        id: param_name,
                                        class: "form-control",
                                        min: param_info[:min],
                                        max: param_info[:max],
                                        placeholder: "Enter #{param_name.to_s.humanize.downcase}" %>
                                <% when :array %>
                                    <%= text_field_tag "attributes[#{param_name}]", 
                                        param_info[:default]&.join(', '), 
                                        id: param_name,
                                        class: "form-control",
                                        placeholder: "Enter values separated by commas" %>
                                <% when :date %>
                                    <%= date_field_tag "attributes[#{param_name}]", 
                                        param_info[:default]&.to_date, 
                                        id: param_name,
                                        class: "form-control",
                                        placeholder: "Enter #{param_name.to_s.humanize.downcase}" %>
                                <% when :symbol %>
                                    <% if param_info[:allowed_values] %>
                                        <%= select_tag "attributes[#{param_name}]", 
                                            options_for_select([
                                                ['Select...', ''] + param_info[:allowed_values].map { |v| [v.to_s.humanize, v.to_s] }
                                            ], param_info[:default]&.to_s),
                                            id: param_name,
                                            class: "form-control" %>
                                    <% else %>
                                        <%= text_field_tag "attributes[#{param_name}]", 
                                            param_info[:default]&.to_s, 
                                            id: param_name,
                                            class: "form-control",
                                            placeholder: "Enter #{param_name.to_s.humanize.downcase}" %>
                                    <% end %>
                                <% when :string %>
                                    <%= text_field_tag "attributes[#{param_name}]", 
                                        param_info[:default]&.to_s, 
                                        id: param_name,
                                        class: "form-control",
                                        placeholder: "Enter #{param_name.to_s.humanize.downcase}" %>
                                <% else %>
                                    <% if param_info[:allowed_values] %>
                                        <%= select_tag "attributes[#{param_name}]", 
                                            options_for_select([
                                                ['Select...', ''] + param_info[:allowed_values].map { |v| [v.to_s.humanize, v.to_s] }
                                            ], param_info[:default]&.to_s),
                                            id: param_name,
                                            class: "form-control" %>
                                    <% else %>
                                        <%= text_field_tag "attributes[#{param_name}]", 
                                            param_info[:default], 
                                            id: param_name,
                                            class: "form-control",
                                            placeholder: "Enter #{param_name.to_s.humanize.downcase}" %>
                                    <% end %>
                                <% end %>
                                
                                <% if param_info[:allowed_values] && param_info[:type] != :symbol %>
                                    <small class="allowed-values">
                                        Allowed values: <%= param_info[:allowed_values].join(', ') %>
                                    </small>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <div class="form-actions">
                        <%= submit_tag "Generate Seed", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div class="no-parameters">
                <p>No parameters required for this seed.</p>
                <%= form_tag create_custom_seede_path(@seed_name), method: :post, class: "seed-form" do %>
                    <%= submit_tag "Generate Seed", class: "btn btn-primary" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>