<div class="container">    
    <!-- Flash messages -->
    <% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
    <% end %>
    
    <% if flash[:error] %>
        <div class="alert alert-error">
            <%= flash[:error] %>
        </div>
    <% end %>
    
    <% if flash[:info] %>
        <div class="alert alert-info">
            <%= flash[:info] %>
        </div>
    <% end %>

    <%= link_to "Factories", factory_index_path, class: "btn btn-primary" %>
    <%= link_to "Custom Seeds", custom_seeds_path, class: "btn btn-primary" %>
</div>
